body{
   width:100%;
	font-family: 'Open Sans', sans-serif;
	background-color:#575954;
	margin:0;
	padding:0;
}
/* Header */
.container1{width:100%;
background-color:#FFF;
height:auto;
}
.container{
	width:960px;
	display:block;
	height:90px;
	background-color:#FFF;
	margin:0 auto;
	}


.logo{
	margin:0;
	float:left;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	
}

#navbar
{
	float:right;
	text-align:left;
	padding-right:10px;
	padding-top:13px;
	font-size:18px;
}

#navbar li {
  margin: 0 5px;
  float: left;
  position: relative;
  list-style: none;
  font-size:18px;
  font-weight:200;
  
}
#navbar a,
#navbar a:link {
  color:#5fa022;
  text-decoration: none;
  display: block;
  padding: 0px 10px;
  margin: 0;
  border-radius: 5px;
  
}
#navbar a:hover {
	color:#FFF;
}
#navbar .active a,
#navbar li:hover a {
  background-color:#5fa022;
  color: #FFF;
}
#navbar ul ul li:hover a,
#navbar li:hover li a {
  background: none;
  border: none;
  color: #5fa022;
}
#navbar ul ul a:hover {
  background: #5fa022 !important;
  color: #fff !important;
  border-radius: 5px;
}
#navbar li:hover > ul {
  display: block;
}
#navbar ul ul {
  display: none;
  margin: 0;
  padding: 0;
  width: 180px;
  position: absolute;
  top: 24.5px;
  z-index: 1000;
  border: 1px solid #CCC;
  background:#FFF;
  border-radius:5px;
}
#navbar ul ul li {
  float: none;
  margin: 0;
  padding: 3px;
}
#navbar ul ul a,
#navbar ul ul a:link {
  font-weight:normal;
  font-size: 18px;
  
}


/* Main Content */
.maincontent{
	width: 100%;
	background-color: #F2F0F0;
	height: auto;
	magin: 0 auto;
	padding:0px;
	
}
.subcontent{
	width: 960px;
	display: block;
	height: auto;
	background-color: #F2F0F0;
	margin:0 auto;
	
	}
	
.Content
{
	width:940px;
	height:auto;
	padding:0 auto;
	margin:0px;
	padding:0 10px;
}
.Content1p1 
{
	width: 435px;
	float: left;
	height: auto;
	
}
.Content1p2 {
	float: right;
	text-align:left;
	width:240px;
	vertical-align:top;
	}
.Content2p1 {
	float: right;
	width: 430px;
	height:auto;
	text-align:justify;
	
}

.Content2p2
{
	line-height:26px;
	font-size:18px;
}
#MainContent2
{
	width: 960px;
    text-transform: uppercase;
	margin: 0 auto;
	height:auto;
}
.BestDeal {
	height: 260px;
	margin: 0;
	padding:0px;
	list-style:none;
	vertical-align: top;
}
.BestDeal img {
	box-shadow: 2px 2px 3px #ddd;
	padding: 4px;
	background: #fff;
	border: 1px solid #e6e4e4;
	margin-bottom: 10px;
	margin-top: 20px;
}
.BDimg {
	color: #333333;
	font-size: 16px;
	margin-left:10px;
	margin-top:3px;
	float:left;
	}
.price {
	display: inline-block;
	background: #699440;
	color: #fff;
	width: 80px;
	height: 30px;
	border-radius: 4px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size:20px;
	padding-top:2px;
	float:right;
	margin-right:25px;
}
.BestDeal li {
	float: left;
	width: 237px;
	padding: 0px;
	margin: 0 auto;
}

/* Footer */
.footer{width:100%;
height:70px;
margin:0 auto;
text-decoration:none;
text-align:center;
padding-top:15px;
padding-bottom:10px;
color:#FFF;

}

.footer a {
	text-decoration:none;
	color:#CCC;}
.footer a:hover {
	text-decoration:none;
	color:#FFF;
	opacity:0.8;
	}
/* Form Style */
.form-style-1 {
    margin:0 auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}
.form-style-1 label{
    margin:0 0 3px 0;
    padding:0px;
    display:block;
    font-weight: bold;
}
.form-style-1 input[type=text], 
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea, 
select{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    padding: 7px;
    margin:0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;  
}
.form-style-1 input[type=text]:focus, 
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus, 
.form-style-1 select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
    width: 49%;
}

.form-style-1 .field-long{
    width: 100%;
}
.form-style-1 .field-select{
    width: 100%;
}
.form-style-1 .field-textarea{
    height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.form-style-1 .required{
    color:red;
}
/* Contact Form */
.contact1{
	width: 960px;
	display: block;
	height: 550px;
	background-color: #F2F0F0;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	}
.contact{
width:100%;
background-color:#F2F0F0;
height:auto;
margin:0 auto;
}
.find
{
	width:480px;
	float:left;
}
.map
{
	padding-top:10px;
	margin-bottom:20px;
}
.map iframe {
	height:280px;
	
}
.contact2
{
	width:480px;
	float:right;
}
/* Menu List */
.mainmenu{
width:100%;
background-color:#F2F0F0;
height:auto;
margin:0 auto;
}
.mainmenu1{
	width: 960px;
	display: block;
	height: 1320px;
	background-color: #F2F0F0;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding: 0px;
	}
.Menu
{
	padding-left:10px;
}
.Menu2
{
	
	float:left;
	padding-left:10px;
}
#service {
	padding: 0px;
	height: auto;
	width: 100%;
	margin: 0 auto;
	background-color:#F2F0F0;
	
}
#service1 {
	padding: 0px;
	height: 900px;
	width: 960px;
	margin: 0 auto;
	background-color:#F2F0F0;
	padding-top:10px;
	text-align:justify;
}
#service2p1 {
	float: left;
	height: auto;
	background-color:#F2F0F0;
	width: 490px;
	padding-left:10px;
}
#service2p2 {
	float: right;
	height: auto;
	width: 320px;
	background-color:#F2F0F0;
	padding-left:80px;
}
.dessert
{
	width: 960px;
	display: block;
	height: 670px;
	background-color: #F2F0F0;
	margin:0 auto;
	padding: 0px;
}
.dessert1
{
	float:left;
	width:480px;
	padding-left:20px;
}
.dessert2
{
	float:right;
	width:450px;
	padding-left:10px
}
.drink
{
	width: 960px;
	display: block;
	height: 720px;
	background-color: #F2F0F0;
	margin:0 auto;
	padding: 0px;
}
.drink1
{
	float:left;
	width:750px;
}
.drink2
{
	float:right;
	width:210px;
	font-size:20px;
	list-style:none;
	text-decoration:none;
}
.drink2 a
{
	color:#666;
}
.about{
	width: 960px;
	background-color: #F2F0F0;
	height: 1100px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding: 0px;
}
.about1{
	width:100%;
	display:block;
	height:auto;
	background-color:#F2F0F0;
	margin:0 auto;
	}
	
.maincontainer{
	height:auto;
	background-color:#F2F0F0;
	}
.review
{
	width: 960px;
	padding: 0px;
	height: 900px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	text-align:justify;
}
.review1
{
	float:left;
	width:465px;
	margin:0 auto;
	padding:0;
}
.review2
{
	float:right;
	width:465px;
	margin:0 auto;
	padding:0;
}

#gallery
{
	width:100%;
	height:auto;
	padding:0 auto;
	margin:0 auto;
	background-color:#F2F0F0;
}
#gallery1
{
	width: 950px;
	height: 700px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 0;
	padding-right: auto;
	padding-bottom: 0;
	padding-left: auto;
	background-color:#F2F0F0;
	padding-left:30px;
}
.privacy
{
	width:960px;
	height:2250px;
	margin:0 auto;
	padding:0;
	text-align:justify;
}
.faq
{
	width:960px;
	height:650px;
	margin:0 auto;
	padding:0;
	text-align:justify;
}
.booking
{
	width:960px;
	height:1200px;
	margin:0 auto;
	padding:0;
	text-align:justify;
}
.branch
{
	width: 960px;
	height: 550px;
	padding: 0;
	text-align: justify;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.mainbranch
{
	width:960px;
	height:200px;
	margin:0 auto;
	padding:0;
	text-align:justify;
}
.branch1
{
	width:400px;
	height:auto;
	
	text-align:justify;
	float:left;
}
.branch2
{
	width:400px;
	height:auto;
	vertical-align:top;
	text-align:justify;
	float:right;
	position:absolute;
	
}
.event
{
	width:960px;
	height:800px;
	text-align:justify;
	margin:0 auto;
	padding:0;
	background-color: #F2F0F0;
	
}
.event1
{
	width:960px;
	height:auto;
	text-align:justify;
	margin:10px auto;
	padding:0;
	background-color: #F2F0F0;

}
.subevent1
{
	width:470px;
	height:auto;
	vertical-align:top;
	margin:0 auto;
	padding:0;
	float:left;
	background-color: #F2F0F0;
}
.subevent1p1
{
	vertical-align:top;
	height:auto;
	width:350px;
	float:right;
	margin-top:20px;
	background-color: #F2F0F0;
}
.subevent2
{
	width:470px;
	height:auto;
	vertical-align:top;
	text-align:justify;
	float:right;
	background-color: #F2F0F0;
}
.offer
{
	width: 960px;
	background-color: #F2F0F0;
	height: 630px;
	margin:0 auto;
	padding: 0px;
	
}
.news
{
	margin:0 auto;
	padding-top:10px;
	width:960px;
	height:auto;
	float:left;
}
.news1
{
  margin:0 auto;
  width:500px;
  float:left;
  padding-top:20px;
  height:150px;
  padding-left:50px;
}
.news2
{
  margin-top:10px;
  float:left;
  height:100px;
  
}

